.drama{
    padding: 120px 20px 50px 20px;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .dramaItem{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        gap: 30px;
        

        .dramaimgWrap{
            position: relative;
            margin-bottom: 30px;
            width: calc(20% - 30px);
            text-align: center;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .dramaTitle{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
            }
        }
    }
}