@use '../Reset.scss' as *;
.home{
    .loding{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .upMovie{
        width: 100%;
        height: 100vh;
        position: relative;
        .upComingImg{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .upComingInfo{
            position: absolute;
            width: 100%;
            padding: 20px;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,.7);
            color: #fff;
            .upInfoText{
                .title{margin-bottom: 10px;}
                .overview{margin-bottom: 10px;}
            }
        }
    }
    .mainUpComing{
        padding: 20px 30px;
        h2{
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }
        .movieList{
            display: flex;
            width: 1280px;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;
             @media screen and (max-width:$breakpoint-xl) {
                    width: 100%;
                    padding: 0 20px;
             }
            .loding{
                width: 100%;
                height:400px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .movieItem{
                width: 19%;
                padding: 10px;
                background: #fff;
                box-shadow: 0 0 5px #000;
                margin-bottom: 20px;
                box-sizing: border-box;

                @media screen and (max-width:$breakpoint-xl) {
                    width: 24%;
                }
                 @media screen and (max-width:$breakpoint-lg) {
                    width: 33%;
                }
                
                 @media screen and (max-width: $breakpoint-md) {
                   width: 49%; 
                }
                
                @media screen and (max-width: $breakpoint-sm) {
                    width: 100%;
                }
                
                
                a{
                    .imgWrap{
                        img{
                            width: 100%
                        }
                    }
                    .textWrap{
                        position: relative;
                        h3{
                            margin-top: 10px;
                            color: rgb(156, 156, 156);
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                            margin-bottom: 20px;

                            &.average{

                                position: absolute;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: #fff;
                                box-shadow: 0 0 20px #000;
                                border-radius: 50%;
                                top: -40px;
                                right: 10px;
                                color: #f00;

                            }
                        }
                    }
                }

            }
        }
        .more{
            padding: 20px;
            display: flex;
            justify-content: center;
            .loadMore{
                background: #2f4624;
                padding: 10px 30px;
                color: #fff;
                border: none;
            }
        }
    }
}
.search{
    padding: 30px 20px;
    .searchBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        input{
            padding-left: 20px;
            flex-grow: 1;
        }
        .searchBtn{
            width: 50px;
            height: 50px;
            background: none;
            border: none;
            .searchIcon{
                font-size: 24px;
            }
        }
    }
}
.recommendations{
    width: 100%;
    h2{
        text-align: center;
    }
    .recommendationList{
        padding: 0 20px;
        
        width: 100%;
        max-width: 1280px;
        margin:50px auto;
            p{}
            .swiper-navigation{
                .mySwiper{
                    transition-timing-function: linear;
                    .recommendSlider{
                        img{width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
}