@use './Reset' as *;

.quickBtn{
    position: fixed;
    bottom: 100px;
    right: 50px;
    .top{
        width: 50px;
        height: 50px;
        background: #fff;
        box-shadow: 5px 5px 10px #000;
        border-radius: 50%;
        border: none;
        font-size: 50px;
    }
}
